.App {
  text-align: center;
  width: 100%;
}

.Header {
  display: flex;
  justify-content: space-between;
  background-color: salmon;
  padding: 10px;
  
}
.Logo{
  width: 100px;
  height: 50px;
  background-color:aquamarine;
}

.Search{
  width: 150px;
  height: 50px;
  background-color:white;
}

.navigation{
  background-color: black;
display: flex;
gap: 30px;
align-items:center;
}

.navigation a {
color: white;
font-weight: bold;
}

.show{
  display: block;
  width: 200px;
  border: 2px solid black;
  margin: 10px;
}

.show-image{
  width: 100;
}

.ShowList {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}